body {
background-color: #2E282A;
}


.container {
	background-color: #EDB88B;
font-family: 'Roboto', sans-serif;
	border: solid black;
	margin: auto;
	width: 80%;
	padding: 20px;
	text-align: center;
}

p {
	font-size: 20px;
}

h1 {
font-size: 40px;
}

nav {
	font-size: 25px;
	text-align: center;
    display: flex;
    justify-content: space-evenly;
}

nav a:hover {
    color: #383B53;
}

.img-single {
	max-width: 80%;
	border: solid black 3px;
}

.container-thumbnail {
	background-color: #EDB88B;
	border: solid black;
	margin: auto;
	margin-top: 15px;
	width: 80%;
	padding: 20px;
	display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.item { 
background-color: #E2D2D1;
font-family: fantasy;
 border: solid black;
width: 45%;
 text-align: center;
 padding: 10px;
 display: flex;
 flex-direction: column;
 align-items: center;
 font-size: 20px;
}

.item img {
  max-width: 100%;
  height: auto;
  padding: 10px;
}